{
    "AWSEBDockerrunVersion": "1",
    "Image": {
        "Name": “<DOCKER_IMAGE>:<TAG>",
        "Update": "true"
    },
    "Ports": [
        {
            "ContainerPort": "5000"
        }
    ]
}
